:root {
  --main-background-color: #101010;
  --border-list-titles: 1px solid rgba(230, 230, 230, 0.15);
  --race-item-background-color: rgba(230, 230, 230, 0.15);
  --border-race-items: 1px solid rgba(230, 230, 230, 0.15);
  --link-background-color: #cc0033;
  --link-background-hover: #aa002a;
  --price-location-color: rgba(255, 255, 255, 0.75);
}
