.upcoming {
  padding: 80px 0 300px;
  background: var(--main-background-color);
  color: #fff;

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .upcoming-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h3 {
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: -1px;
      color: #fff;
    }
  }

  .upcoming-menu {
    display: flex;

    form {
      position: relative;
      margin-right: 10px;
      .search {
        background: #fff;
        border: none;
        border-bottom: var(--border-list-titles);
        border-radius: 25px;
        outline: 0;
        padding: 6px 10px 5px 30px;
        color: #000;
        &::placeholder {
          color: #5c5c5c;
          font-weight: bolder;
        }
      }
      i {
        position: absolute;
        left: 8px;
        top: 6px;
        color: #5c5c5c;
      }
    }
    .country {
      select {
        font-size: 16px;
      }
    }
  }

  .upcoming-main {
    .list-titles {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 2fr;
      border-bottom: var(--border-list-titles);
      padding: 0 0 20px;
      span {
        font-weight: bolder;
      }
      span:first-of-type {
        padding-left: 20px;
      }
    }

    .race-item {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border-bottom: var(--border-race-items);
      padding: 20px 0;

      .event {
        align-self: center;
        padding-left: 20px;
        font-weight: bolder;
        .date-mobile {
          display: none;
        }
      }
      .event.no-results {
        color: darkgrey;
        .clear-field {
          color: #fff;
          margin-left: 10px;
          &:hover {
            cursor: pointer;
            border-bottom: 1px solid #fff;
          }
        }
      }
      .location {
        display: flex;
        // justify-content: space-between;
        // padding-right: 70px;
      }
      .price,
      .location {
        color: var(--price-location-color);
      }
      span {
        align-self: center;
      }

      a {
        align-self: center;
        display: inline-block;
        width: 110px;
        color: #fff;
        background: var(--link-background-color);
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 13px 0px;
        border-radius: 20px;
        transition: 0.2s ease background-color;

        &:hover {
          background: var(--link-background-hover);
        }
      }
    }
    .race-item.no-results {
      grid-template-columns: 2fr repeat(3, 1fr);
    }
    .race-item:hover {
      background: var(--race-item-background-color);
      border-color: transparent;
    }
  }
}
